// SHOPPING LIST  //
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;
  height: 100%;
  @media only screen and (min-width: $breakpoint-small) and (max-width: $breakpoint-largest) {
    // $breakpoint-small: 480px --- $breakpoint-medium: 768px;
    width: 85%;
    height: 65%;
    gap: 1rem;
  }

  @media only screen and (min-width: $breakpoint-largest) and (max-width: $breakpoint-extralarge) {
    // $breakpoint-largest: 1024px --- $breakpoint-extralarge: 1224px
    max-width: 65vw;
    height: 70%;
    margin-left: 20%;
    gap: 1rem;
  }
  @media only screen and (min-width: $breakpoint-extralarge) {
    // $breakpoint-extralarge: 1224px --- ++
    max-width: 57vw;
    height: 70%;
    margin-left: 20%;
    gap: 2rem;
  }
}
