// SHOPPING LIST  //
// CONTAINER ALL SHOPPING CARD //
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 100%;
  min-height: 50vh;
  @media only screen and (min-width: $breakpoint-small) and (max-width: $breakpoint-largest) {
    width: 85%;
    height: 65%;
    gap: 1rem;
  }
  @media only screen and (min-width: $breakpoint-largest) and (max-width: $breakpoint-extralarge) {
    max-width: 65vw;
    height: 70%;
    min-height: 55vh;
    margin-left: 25%;
    gap: 1rem;
  }
  @media only screen and (min-width: $breakpoint-extralarge) {
    max-width: 57vw;
    height: 70%;
    min-height: 55vh;
    margin-left: 25%;
    gap: 2rem;
  }
}
