// SHOPPING LIST  //
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;
  margin: 1rem 0;
  gap: 3rem 0;
  @media only screen and (min-width: $breakpoint-small) and (max-width: $breakpoint-medium) {
    width: 85%;
    height: 65%;
    gap: 1rem;
  }
  @media only screen and (min-width: $breakpoint-medium) and (max-width: $breakpoint-largest) {
    width: 70%;
    height: 65%;
    gap: 1rem;
  }
  @media only screen and (min-width: $breakpoint-largest) {
    max-width: 60vw;
    height: 70%;
    margin-left: 20%;
    gap: 1rem;
  }
}
