//SHOPPING MODALE
// MODAL DECORATION // BLUR ON DESKTOP // 100% GREY ON MOBILE //
.shoppingModal {
  background-color: $primary;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  @media only screen and (min-width: $breakpoint-largest) {
    z-index: 10;
    width: 150vw;
    height: 100vh;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    background-color: transparent;
    top: 51%;
    left: 60%;
    transform: translateX(-50%) translateY(-50%);
  }

  // MODAL CONTAINER //
  &__containt {
    position: fixed;
    height: 100%;
    width: 100%;

    @media only screen and (min-width: $breakpoint-largest) {
      background: rgb(135, 135, 135);
      background: linear-gradient(90deg,
          rgba(135, 135, 135, 1) 0%,
          rgba(101, 101, 101, 1) 50%,
          rgba(64, 63, 63, 1) 100%);
      height: 80%;
      width: 45%;
      border-radius: 30px 0 30px 30px;
      border: 1px solid $secondary;
    }

    // TITLE GREY AND WHITE ON MOBILE //
    &--mobile {
      width: 95%;
      height: 4rem;
      padding: 2rem 2rem;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      font-family: 'Made-Bold';
      color: $primary;
      text-shadow: $secondary 0.5px 0.5px, $secondary -0.5px 0.5px,
        $secondary -0.5px -0.5px, $secondary 0.5px -0.5px;
      font-size: 1.5rem;
      justify-content: center;

      @media only screen and (min-width: $breakpoint-smallest) and (max-width: $breakpoint-small) {
        font-size: 2.5rem;
        height: 4rem;
        margin: 0;
      }

      @media only screen and (min-width: $breakpoint-small) and (max-width: $breakpoint-medium) {
        font-size: 3rem;
        height: 5rem;
        margin: 0;
      }

      @media only screen and (min-width: $breakpoint-medium) and (max-width: $breakpoint-largest) {
        font-size: 3.5rem;
        height: 6rem;
      }

      @media only screen and (min-width: $breakpoint-largest) {
        display: none;
      }
    }

    // MODAL PART UP //
    &__up {
      height: 10%;
      font-family: 'Made-Bold';

      @media only screen and (min-width: $breakpoint-smallest) and (max-width: $breakpoint-small) {
        height: 12%;
      }

      @media only screen and (min-width: $breakpoint-small) and (max-width: $breakpoint-largest) {
        height: 15%;
      }

      @media only screen and (min-width: $breakpoint-largest) {
        display: flex;
        justify-content: space-between;
        height: 15%;
        width: 100%;
        border-radius: 30px 0 0 0;
      }

      // ITEM FULL TITLE //
      &__title {
        display: flex;
        flex-direction: column;
        padding-left: 0.5rem;

        @media only screen and (min-width: $breakpoint-smallest) {
          padding-left: 5%;
        }

        @media only screen and (min-width: $breakpoint-largest) {
          padding-left: 1.5rem;
        }

        // ITEM TITLE //
        &--h1 {
          text-transform: uppercase;
          color: $secondary;
          font-size: 2rem;

          @media only screen and (min-width: $breakpoint-smallest) and (max-width: $breakpoint-medium) {
            font-size: 3rem;
          }

          @media only screen and (min-width: $breakpoint-medium) and (max-width: $breakpoint-largest) {
            font-size: 3.5rem;
          }

          @media only screen and (min-width: $breakpoint-largest) {
            font-size: 5rem;
            transform: translateY(-2.5rem);
          }
        }

        // ITEM SUBTITLE //
        &--h2 {
          color: $tertiary;
          font-size: 1.5rem;
          transform: translateY(-0.5rem);

          @media only screen and (min-width: $breakpoint-small) and (max-width: $breakpoint-medium) {
            font-size: 2rem;
          }

          @media only screen and (min-width: $breakpoint-largest) {
            font-size: 3rem;
            transform: translateY(-4.1rem);
          }
        }
      }

      // CROSS FOR EXIT MODAL //
      &__button--desktop {
        display: none;

        @media only screen and (min-width: $breakpoint-largest) {
          display: flex;
          justify-content: flex-end;
          cursor: pointer;
        }

        &--logo {
          @media only screen and (min-width: $breakpoint-largest) {
            width: 3rem;
            height: 3rem;
            color: $secondary;
          }

          &:hover {
            color: $primary;
          }
        }
      }
    }

    // MODAL PART DOWN //
    &__down {
      display: flex;
      height: 75%;
      width: 100%;
      flex-direction: column;
      justify-content: space-around;
      padding: 1rem;

      @media only screen and (min-width: $breakpoint-medium) and (max-width: $breakpoint-largest) {
        height: 70%;
      }

      @media only screen and (min-width: $breakpoint-largest) {
        border-radius: 0 0 30px 30px;
        height: 85%;
        width: 100%;
        display: flex;
        flex-direction: row;
      }

      // ITEM CAROUSEL WITH 2 IMAGES //
      &__carousel {
        height: 10rem;
        width: 8.5rem;

        @media only screen and (min-width: $breakpoint-smallest) and (max-width: $breakpoint-small) {
          height: 22rem;
          width: 18rem;
        }

        @media only screen and (min-width: $breakpoint-small) and (max-width: $breakpoint-medium) {
          height: 20rem;
          width: 16rem;
        }

        @media only screen and (min-width: $breakpoint-medium) and (max-width: $breakpoint-largest) {
          height: 22rem;
          width: 18rem;
        }

        @media only screen and (min-width: $breakpoint-largest) {
          height: 22rem;
          width: 21rem;
          align-self: center;
        }

        &--img {
          height: 100%;
          width: 100%;
        }
      }

      // ITEM DESCRIPTION //
      &__desc {
        display: flex;
        color: $secondary;
        font-family: 'Made-Light';
        text-align: justify;
        width: 80%;
        font-size: 0.8rem;
        align-self: center;
        align-items: center;
        margin: 2rem;

        @media only screen and (min-width: $breakpoint-smallest) and (max-width: $breakpoint-small) {
          font-size: 1.2rem;
          width: 70%;
        }

        @media only screen and (min-width: $breakpoint-small) and (max-width: $breakpoint-medium) {
          font-size: 1.3rem;
          width: 80%;
          margin: 1.5rem;
        }

        @media only screen and (min-width: $breakpoint-medium) and (max-width: $breakpoint-largest) {
          font-size: 1.3rem;
          width: 90%;
          margin: 1.5rem;
        }

        @media only screen and (min-width: $breakpoint-largest) and (max-width: $breakpoint-huge) {
          height: 90%;
          width: 60%;
          font-size: 1.3rem;
          padding: 0 2rem 0 0;
          border-radius: 0 0 30px 0;
        }

        @media only screen and (min-width: $breakpoint-huge) {
          height: 90%;
          width: 60%;
          font-size: 2rem;
          padding: 0 2rem 0 0;
          border-radius: 0 0 30px 0;
        }
      }

      // BUTTON RETURN FOR EXIT MODAL ON MOBILE/TABLET //
      &__button--mobile {
        cursor: pointer;
        display: flex;
        align-self: center;
        justify-content: center;
        align-items: center;
        justify-items: flex-end;
        border: 2px solid $secondary;
        height: 2rem;
        width: 6rem;
        color: $secondary;
        font-family: 'Made-Light';

        @media only screen and (min-width: $breakpoint-smallest) and (max-width: $breakpoint-medium) {
          height: 3rem;
          width: 10rem;
          font-size: 1.5rem;
        }

        @media only screen and (min-width: $breakpoint-medium) and (max-width: $breakpoint-largest) {
          height: 3rem;
          width: 10rem;
          font-size: 1.5rem;
        }

        @media only screen and (min-width: $breakpoint-largest) {
          display: none;
        }
      }
    }
  }
}

// DESIGN PACKAGE SWIPER //
.swiper-pagination-bullet {
  border: 1px solid white;
  --swiper-theme-color: white;
  transform: translateY(5px);
  --swiper-pagination-bullet-width: 0.6rem;
  --swiper-pagination-bullet-height: 0.6rem;

  @media only screen and (min-width: $breakpoint-smallest) and (max-width: $breakpoint-small) {
    transform: translateY(10px);
    --swiper-pagination-bullet-width: 1rem;
    --swiper-pagination-bullet-height: 1rem;
  }

  @media only screen and (min-width: $breakpoint-largest) {
    transform: translateY(8px);
    --swiper-pagination-bullet-width: 0.6rem;
    --swiper-pagination-bullet-height: 0.6rem;
  }
}