// FULL PAGE 1 FLEX-ROW IMG+TEXT
// TEXT = DIVS ALL<POP UP// INFOS// DESC>

.newsContent {
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media only screen and (min-width: $breakpoint-smallest) and (max-width: $breakpoint-small) {
    flex-direction: column-reverse;
  }

  @media only screen and (min-width: 480px) and (max-width: 820px) {
    flex-direction: column-reverse;
  }

  @media only screen and (min-width: 820px) and (max-width: 1024px) {
    flex-direction: column-reverse;
  }

  @media only screen and (min-width: 1024px) and (max-height: 650px) {
    height: 100%;
  }

  &__img {
    height: 30rem;
    transform: translateX(9rem);
    max-width: 40rem;
    object-fit: cover;

    @media only screen and (min-width: 320px) and (max-width: 480px) {
      height: 100vh;
      width: 100vw;
      object-fit: cover;
      overflow: hidden;
      margin-top: 7.7rem;
      transform: none;
      max-width: none;
      filter: brightness(25%);
    }

    @media only screen and (min-width: 480px) and (max-width: 820px) {
      height: 100vh;
      width: 100vw;
      object-fit: cover;
      overflow: hidden;
      margin-top: 7.7rem;
      transform: none;
      max-width: none;
      filter: brightness(25%);
    }

    @media only screen and (min-width: 820px) and (max-width: 1024px) {
      height: 100vh;
      width: 100vw;
      object-fit: cover;
      overflow: hidden;
      margin-top: 7.7rem;
      transform: none;
      max-width: none;
      filter: brightness(25%);
    }

    @media only screen and (min-width: 1024px) and (max-height: 650px) {
      margin-top: 4rem;
      transform: translateX(9rem);
      max-width: none;
    }

    @media only screen and (min-width: 1024px) and (max-width: 1224px) {
      max-width: 25rem;
      object-fit: cover;
    }

    @media only screen and (min-width: 1224px) and (max-width: 1800px) {
      max-width: 25rem;
      object-fit: cover;
    }

    &--active {

      @media only screen and (min-width: 320px) and (max-width: 480px) {
        height: 100vh;
        width: 100vw;
        object-fit: cover;
        overflow: hidden;
        margin-top: 7.7rem;
        filter: brightness(25%);
      }

      @media only screen and (min-width: 480px) and (max-width: 820px) {
        height: 100vh;
        width: 100vw;
        object-fit: cover;
        overflow: hidden;
        margin-top: 7.7rem;
        filter: brightness(25%);
      }

      @media only screen and (min-width: 820px) and (max-width: 1024px) {
        height: 100vh;
        width: 100vw;
        object-fit: cover;
        overflow: hidden;
        margin-top: 7.7rem;
        filter: brightness(25%);
      }

      @media only screen and (min-width: 1024px) and (max-width: 1224px) {
        height: 30rem;
        filter: none;
      }

      @media only screen and (min-width: 1224px) {
        height: 30rem;
        filter: none;
      }
    }
  }

  // ALL TEXT SECTIONS
  &__container {
    display: flex;
    flex-direction: column;
    width: 35rem;

    @media only screen and (min-width: 320px) and (max-width: 480px) {
      width: 40%;
    }

    @media only screen and (min-width: 480px) and (max-width: 820px) {
      width: 40%;
    }

    @media only screen and (min-width: 820px) and (max-width: 1024px) {
      width: 40%;
    }


    //TITLE + INFOS
    &__header {
      display: flex;
      flex-direction: row;
      align-items: center;
      transform: translateX(-5rem) translateY(-4rem);

      @media only screen and (min-width: 320px) and (max-width: 480px) {
        transform: translateX(-5rem);
      }

      @media only screen and (min-width: 480px) and (max-width: 820px) {
        transform: translateX(-5rem);
      }


      @media only screen and (min-width: 820px) and (max-width: 1024px) {
        transform: translateX(-5rem);
      }

      @media only screen and (min-width: 1024px) and (max-width: 1224px) {
        transform: translateX(-5rem) translateY(-3rem);
      }

      @media only screen and (min-width: 1224px) {
        transform: translateX(-7rem) translateY(-3rem);
      }

      //SECTION TITLE
      &__titleContainer {
        display: flex;
        flex-direction: column;
        transform: translateY(-9rem) translateX(5rem);


        @media only screen and (min-width: 1024px) and (max-height: 650px) {
          margin-top: 4rem;
          transform: translateY(-9rem) translateX(5rem);
        }

        @media only screen and (min-width: 320px) and (max-width: 480px) {
          position: absolute;
          top: 0;
          transform: none;
        }

        @media only screen and (min-width: 480px) and (max-width: 820px) {
          position: absolute;
          top: 0;
          transform: none;
        }

        @media only screen and (min-width: 820px) and (max-width: 1024px) {
          position: absolute;
          top: 0;
          transform: none;
        }



        &__h1 {
          font-family: 'Made-Bold';
          color: $secondary;
          font-size: 6.7rem;
          transform: translateX(-4.5rem);

          &__span {
            font-family: 'Made-Bold';
            color: $tertiary;
            font-size: 6.7rem;
            transform: translateY(-3rem) translateX(5.2rem);
          }
        }



      }

      //SECTION INFO
      &__infosContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateY(30rem) translateX(5rem);
        overflow: visible;
        width: 50rem;


        @media only screen and (min-width: 320px) and (max-width: 480px) {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: absolute;
          transform: translateY(40rem) translateX(5rem);
          gap: 0.2rem;
          width: 100%;
          overflow: visible;
        }

        @media only screen and (min-width: 480px) and (max-width: 820px) {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: absolute;
          transform: translateY(30rem) translateX(5rem);
          gap: 0.2rem;
          width: 100%;
          overflow: visible;
        }

        @media only screen and (min-width: 820px) and (max-width: 1024px) {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: absolute;
          transform: translateY(30rem) translateX(5rem);
          gap: 0.2rem;
          width: 100%;
          overflow: visible;
        }


        @media only screen and (min-width: 1024px) and (max-width: 1224px) {
          display: flex;
          flex-direction: column;
          align-items: center;
          transform: translateX(-3rem);
        }

        @media only screen and (min-width: 1224px) {
          display: flex;
          flex-direction: column;
          align-items: center;
          transform: translateX(-1rem);
        }

        &__h2 {
          font-size: 3rem;
          font-family: 'Made-Medium';
          color: $secondary;

          @media only screen and (min-width: 320px) and (max-width: 480px) {
            font-size: 5rem;
            text-transform: Uppercase;
          }

          @media only screen and (min-width: 480px) and (max-width: 820px) {
            font-size: 5rem;
            text-transform: Uppercase;
          }

          @media only screen and (min-width: 820px) and (max-width: 1024px) {
            font-size: 5rem;
            text-transform: Uppercase;
          }

          @media only screen and (min-width: 1024px) and (max-width: 1224px) {
            font-size: 2.6rem;
          }
        }

        &__h3 {
          text-align: center;
          font-size: 0.7rem;
          font-family: 'Made-Medium';
          color: $secondary;
          width: 150%;

          @media only screen and (min-width: 320px) and (max-width: 480px) {
            font-size: 1.7rem;
            width: 200%;
          }


          @media only screen and (min-width: 480px) and (max-width: 820px) {
            font-size: 1.7rem;
            width: 200%;
          }

          @media only screen and (min-width: 820px) and (max-width: 1024px) {
            font-size: 1.7rem;
            width: 200%;
          }

          @media only screen and (min-width: 1024px) and (max-width: 1224px) {
            font-size: 0.6rem;
          }
        }

        &__h4 {
          text-align: center;
          width: 200%;
          font-size: 1rem;
          font-family: 'Made-Bold';
          color: $secondary;
          padding: 1rem 3rem 0 3rem;

          @media only screen and (min-width: 320px) and (max-width: 480px) {
            height: 120%;
            font-size: 1.7rem;
          }

          @media only screen and (min-width: 480px) and (max-width: 820px) {
            height: 120%;
            font-size: 1.7rem;
          }

          @media only screen and (min-width: 820px) and (max-width: 1024px) {
            height: 120%;
            font-size: 1.7rem;
          }

          @media only screen and (min-width: 1024px) and (max-width: 1224px) {
            font-size: 0.9rem;
          }
        }

        &__p {
          margin-top: 3rem;
          font-family: 'Made-Light';
          color: $secondary;
          padding-left: 3rem;
          padding-right: 3rem;
          font-size: 1rem;
          width: 25rem;
          text-align: left;
          line-height: 1.5rem;

          @media only screen and (min-width: 320px) and (max-width: 480px) {
            display: none;
          }

          @media only screen and (min-width: 480px) and (max-width: 820px) {
            display: none;
          }

          @media only screen and (min-width: 820px) and (max-width: 1024px) {
            display: none;
          }
        }
      }
    }

    //DESCRIPTION



  }

  &__mobileContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30rem;

    @media only screen and (min-width: 320px) and (max-width: 480px) {
      width: 30rem;
    }

    @media only screen and (min-width: 480px) and (max-width: 820px) {
      width: 30rem;
    }

    @media only screen and (min-width: 820px) and (max-width: 1024px) {
      width: 20rem;
    }

    @media only screen and (min-width: 1024px) and (max-width: 1224px) {
      display: none;
    }

    @media only screen and (min-width: 1224px) {
      display: none;
    }

    &__pMobile {
      height: 100%;
      width: 100%;
      font-family: 'Made-Bold';
      color: $secondary;
      font-size: 1.5rem;
      text-align: center;
      line-height: 2rem;


      @media only screen and (min-width: 320px) and (max-width: 480px) {
        width: 32rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1.2rem;
      }

      @media only screen and (min-width: 480px) and (max-width: 820px) {
        width: 40rem;
        font-size: 1.1rem;
        line-height: 1.6rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }

      @media only screen and (min-width: 820px) and (max-width: 1024px) {
        width: 45rem;
        font-size: 1.3rem;
        line-height: 1.5rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
      }

      @media only screen and (min-width: 1024px) and (max-width: 1224px) {
        display: none;
      }

      @media only screen and (min-width: 1224px) {
        display: none;
      }
    }

    &__logo {
      width: 4rem;
      cursor: pointer;

      @media only screen and (min-width: 320px) and (max-width: 480px) {
        width: 4rem;
      }

      @media only screen and (min-width: 480px) and (max-width: 820px) {
        width: 4rem;
      }

      @media only screen and (min-width: 820px) and (max-width: 1024px) {
        width: 5rem;
      }

      @media only screen and (min-width: 1024px) and (max-width: 1224px) {
        display: none;
      }

      @media only screen and (min-width: 1224px) {
        display: none;
      }
    }
  }
}