.footer {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: $secondary;

  @media screen and (max-width: $breakpoint-small) {
    justify-content: center;
  }

  &__info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-family: 'Made-Bold';
    margin-right: 3rem;
    margin-bottom: 1.2rem;

    @media screen and (max-width: $breakpoint-small) {
      justify-content: center;
      margin-right: 0;
    }

    &__sup {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;

      &__address {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        @media screen and (max-width: $breakpoint-small) {
          flex-direction: column;
          align-items: center;
          margin-bottom: 1.6rem;
        }

        &__street {
          margin-right: 0.6rem;
        }
      }
      &__opening {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        font-size: 16px;

        @media screen and (max-width: $breakpoint-extralarge) {
          font-size: 14px;
        }
        @media screen and (max-width: $breakpoint-largest) {
          font-size: 12px;
        }
        @media screen and (max-width: $breakpoint-medium) {
          font-size: 10px;
        }
        @media screen and (max-width: $breakpoint-small) {
          font-size: 8px;
        }
        @media screen and (max-width: $breakpoint-smallest) {
          font-size: 6px;
        }

        &__openingdays {
          margin-right: 2.05rem;
          text-align: left;
        }
        &__openinghours {
          text-align: right;
        }
      }
    }
  }
  &__logo {
    margin-left: 0.9rem;
    align-self: flex-end;

    .icon {
      width: 2rem;
      height: 2rem;
      &--instagram {
        color: $secondary;
      }
    }
    @media screen and (max-width: $breakpoint-small) {
      display: none;
    }
  }
}
