.footer__wallOfDwich {
  color: $secondary;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-right: 2rem;

  @media only screen and (max-width: $breakpoint-largest) {
    display: none;
  }

  &__info {
    display: flex;
    font-family: 'Made-Bold';
    align-items: flex-end;

    &__sup {
      &__address {
        font-size: 2vh;
        display: flex;
        flex-direction: row;
        margin-bottom: 0.2rem;
        text-transform: uppercase;

        @media screen and (max-width: $breakpoint-medium) {
          flex-direction: column;
          align-items: center;
          margin-bottom: 1.6rem;
        }

        @media only screen and (min-width: $breakpoint-medium) and (max-width: $breakpoint-largest) {
          flex-direction: column;
          align-items: center;
          margin-bottom: 1.6rem;
        }

        &__bis {
          &__zipcode {
            margin: 0 0.6rem;
          }
        }
      }

      &__opening {
        display: flex;
        justify-content: flex-end;
        font-size: 16px;

        @media screen and (max-width: $breakpoint-extralarge) {
          font-size: 14px;
        }

        @media screen and (max-width: $breakpoint-largest) {
          font-size: 12px;
        }

        @media screen and (max-width: $breakpoint-medium) {
          font-size: 10px;
        }

        @media screen and (max-width: $breakpoint-small) {
          font-size: 8px;
        }

        @media screen and (max-width: $breakpoint-smallest) {
          font-size: 6px;
        }

        &__openingdays {
          margin-right: 2.05rem;
          font-size: 1.4vh;
          text-align: left;
        }

        &__openinghours {
          text-align: right;
          font-size: 1.4vh;
        }
      }
    }
  }

  &__instalogo {
    display: flex;
    flex-direction: column;
    width: 1.5rem;
    height: 1.5rem;

    &--instagram {
      margin-left: 0.5rem;
      color: $secondary;
    }
  }
}

// FOOTER MENU BURGER ALL PAGES EXCEPT HOME //
.navbar__mobile__down__footer__burger {
  color: $secondary;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  margin-top: 1rem;

  @media only screen and (min-width: $breakpoint-smallest) {
    font-size: 2.5vh;
  }

  &__info__sup {
    &__address {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-bottom: 1.5rem;

      &__bis {
        display: flex;
      }
    }

    &__opening {
      &__openingdays {
        text-align: left;
        font-size: 0.5rem;
        margin-right: 2rem;

        @media only screen and (min-width: $breakpoint-smallest) {
          font-size: 1.7vh;
        }
      }

      &__openinghours {
        text-align: right;
        font-size: 0.5rem;

        @media only screen and (min-width: $breakpoint-smallest) {
          font-size: 1.7vh;
        }
      }
    }
  }

  &__instalogo {
    display: none;
  }
}

.footer__absolute {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: $secondary;
  margin-right: 2rem;
  margin-bottom: 2.3rem;
  bottom: 0;
  right: 0;

  @media only screen and (min-width: $breakpoint-smallest) and (max-width: $breakpoint-small) {
    display: none;
  }

  @media only screen and (min-width: 480px) and (max-width: 820px) {
    display: none;
  }

  @media only screen and (min-width: 820px) and (max-width: 1025px) {
    display: none;
  }

  @media only screen and (max-height: 700px) and (min-width: 1025px) {
    position: relative;
  }

  &__info {
    display: flex;
    font-family: 'Made-Bold';
    align-items: flex-end;

    &__sup {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;

      &__address {
        display: flex;
        text-transform: uppercase;
        font-size: 2vh;
        margin-bottom: 0.2rem;

        @media screen and (max-width: $breakpoint-medium) {
          flex-direction: column;
          align-items: center;
          margin-bottom: 1.6rem;
        }

        @media only screen and (min-width: $breakpoint-medium) and (max-width: $breakpoint-largest) {
          flex-direction: column;
          align-items: center;
          margin-bottom: 1.6rem;
        }

        &__street {
          margin-right: 0.6rem;
        }
      }

      &__opening {
        display: flex;
        justify-content: flex-end;
        font-size: 16px;

        @media screen and (max-width: $breakpoint-extralarge) {
          font-size: 14px;
        }

        @media screen and (max-width: $breakpoint-largest) {
          font-size: 12px;
        }

        @media screen and (max-width: $breakpoint-medium) {
          font-size: 10px;
        }

        @media screen and (max-width: $breakpoint-small) {
          font-size: 8px;
        }

        @media screen and (max-width: $breakpoint-smallest) {
          font-size: 6px;
        }

        &__openingdays {
          margin-right: 2.05rem;
          text-align: left;
        }

        &__openinghours {
          text-align: right;
        }
      }
    }
  }

  &__instalogo {
    display: flex;
    flex-direction: column;
    width: 1.5rem;
    height: 1.5rem;

    &--instagram {
      margin-left: 0.5rem;
      color: $secondary;
    }
  }
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: $secondary;
  margin-right: 2rem;
  margin-bottom: 1.5rem;

  @media only screen and (min-width: $breakpoint-smallest) and (max-width: $breakpoint-medium) {
    display: none;
  }

  @media only screen and (min-width: $breakpoint-medium) and (max-width: $breakpoint-largest) {
    display: none;
  }

  &__info {
    display: flex;
    font-family: 'Made-Bold';
    align-items: flex-end;

    &__sup {
      &__address {
        font-size: 2vh;
        display: flex;
        flex-direction: row;
        margin-bottom: 0.2rem;
        text-transform: uppercase;

        @media screen and (max-width: $breakpoint-medium) {
          flex-direction: column;
          align-items: center;
          margin-bottom: 1.6rem;
        }

        @media only screen and (min-width: $breakpoint-medium) and (max-width: $breakpoint-largest) {
          flex-direction: column;
          align-items: center;
          margin-bottom: 1.6rem;
        }

        &__bis {
          &__zipcode {
            margin: 0 0.6rem;
          }
        }
      }

      &__opening {
        display: flex;
        justify-content: flex-end;
        font-size: 16px;

        @media screen and (max-width: $breakpoint-extralarge) {
          font-size: 14px;
        }

        @media screen and (max-width: $breakpoint-largest) {
          font-size: 12px;
        }

        @media screen and (max-width: $breakpoint-medium) {
          font-size: 10px;
        }

        @media screen and (max-width: $breakpoint-small) {
          font-size: 8px;
        }

        @media screen and (max-width: $breakpoint-smallest) {
          font-size: 6px;
        }

        &__openingdays {
          margin-right: 2.05rem;
          font-size: 1.4vh;
          text-align: left;
        }

        &__openinghours {
          text-align: right;
          font-size: 1.4vh;
        }
      }
    }
  }

  &__instalogo {
    display: flex;
    flex-direction: column;
    width: 1.5rem;
    height: 1.5rem;

    &--instagram {
      margin-left: 0.5rem;
      color: $secondary;
    }
  }
}

//FOOTER DE LA PAGE HOME
.home__footer {
  color: $secondary;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  margin-top: 1rem;

  @media only screen and (min-width: $breakpoint-smallest) {
    margin: 1rem 0;
  }

  @media only screen and (min-width: $breakpoint-largest) {
    justify-content: flex-end;
    align-items: flex-end;
    margin: 1rem;
  }

  &__info__sup {
    &__address {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 1.5rem;

      @media only screen and (min-width: $breakpoint-smallest) {
        font-size: 2vh;
      }

      @media only screen and (min-width: $breakpoint-largest) {
        font-size: 2vh;
        display: flex;
        flex-direction: row;
        margin-bottom: 0.2rem;
      }

      &__bis {
        &__zipcode {
          margin: 0 0.6rem;
        }
      }
    }

    &__opening {
      &__openingdays {
        text-align: left;
        font-size: 0.5rem;
        margin-right: 2rem;

        @media only screen and (min-width: $breakpoint-smallest) {
          font-size: 1.4vh;
        }
      }

      &__openinghours {
        text-align: right;
        font-size: 0.5rem;

        @media only screen and (min-width: $breakpoint-smallest) {
          font-size: 1.4vh;
        }
      }
    }
  }
}