.footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: $secondary;
  margin-right: 1rem;
  margin-bottom: 2.3rem;

  @media screen and (max-width: $breakpoint-small) {
    justify-content: center;
  }

  &__info {
    display: flex;
    font-family: 'Made-Bold';
    overflow: hidden;

    @media screen and (max-width: $breakpoint-small) {
      justify-content: center;
      margin-right: 0;
    }

    &__sup {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;

      &__address {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        @media screen and (max-width: $breakpoint-small) {
          flex-direction: column;
          align-items: center;
          margin-bottom: 1.6rem;
        }

        &__street {
          margin-right: 0.6rem;
        }
      }
      &__opening {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        font-size: 16px;

        @media screen and (max-width: $breakpoint-extralarge) {
          font-size: 14px;
        }
        @media screen and (max-width: $breakpoint-largest) {
          font-size: 12px;
        }
        @media screen and (max-width: $breakpoint-medium) {
          font-size: 10px;
        }
        @media screen and (max-width: $breakpoint-small) {
          font-size: 8px;
        }
        @media screen and (max-width: $breakpoint-smallest) {
          font-size: 6px;
        }

        &__openingdays {
          margin-right: 2.05rem;
          text-align: left;
        }
        &__openinghours {
          text-align: right;
        }
      }
    }
  }
  &__instalogo {
    display: flex;
    flex-direction: column;
    margin: -0.5rem 0.9rem 0.9rem 0.9rem;
    width: 1.5rem;
    height: 1.5rem;
    @media screen and (min-width: 1024px) and (max-width: 1224px) {
      margin: -0.5rem 0.9rem 4rem 0.9rem;
    }

    .icon {
      &--instagram {
        color: $secondary;
        width: 100%;
        height: 100%;
      }
    }

    @media screen and (max-width: $breakpoint-small) {
      display: none;
    }
  }
}
