.logo {
  width: 100vw;
  @media only screen and (max-width: $breakpoint-largest) {
    display: none;
  }

  &__logotype {
    position: fixed;
    width: 7rem;
    height: 7rem;
    margin: 1.5rem;
    color: $secondary;
  }
}
