.logo {
  display: none;
  @media only screen and (min-width: $breakpoint-largest) {
    width: 100vw;
    display: flex;
  }

  &__logotype {
    position: fixed;
    margin-top: -1rem;
    width: 8rem;
    height: 8rem;
    margin: 2rem;
    color: $secondary;
  }
}
