.logo {
  &__logotype {
    position: fixed;
    margin-top: -1rem;
    width: 8rem;
    height: 8rem;
    margin: 2rem;
    @media only screen and (max-width: $breakpoint-largest) {
      display: none;
    }
  }
}
