.navbar {
  display: flex;
  flex-direction: column;
  font-family: 'Made-Bold';
  justify-content: space-around;
  text-decoration: none;
  margin-top: 2rem;
  z-index: 50;

  @media only screen and (min-width: 320px) and (max-width: 480px) {
    display: none;
  }

  @media only screen and (min-width: 480px) and (max-width: 820px) {
    display: none;
  }

  @media only screen and (min-width: 821px) and (max-width: 1024px) {
    display: none;
  }

  @media only screen and (min-width: 1025px) and (max-width: 1224px) {
    height: 20rem;
    position: fixed;
    top: 25%;
    transform: translateX(5rem);
  }

  @media only screen and (min-width: 1225px) {
    height: 20rem;
    position: fixed;
    top: 20%;
    transform: translateX(5rem);
  }

  &__link {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    text-decoration: none;
    cursor: pointer;
    color: $secondary;
    padding-bottom: 0.3rem;
    background-repeat: repeat-x;

    @media only screen and (min-width: 320px) and (max-width: 480px) {
      font-size: 2.4rem;
      margin: 0.4rem;
    }

    @media only screen and (min-width: 481px) and (max-width: 820px) {
      align-self: flex-start;
      margin-left: 8rem;
      font-size: 2rem;
    }

    @media only screen and (min-width: 821px) and (max-width: 1024px) {
      align-self: flex-start;
      margin-left: 8rem;
      font-size: 2rem;
    }

    @media only screen and (min-width: 1025px) and (max-width: 1224px) {
      align-self: flex-start;
      margin-left: 8rem;
      font-size: 2.1rem;
    }

    @media only screen and (min-width: 1225px) and (max-width: 1824px) {
      align-self: flex-start;
      margin-left: 8rem;
      font-size: 2.2rem;
    }

    @media only screen and (min-width: 1825px) {
      align-self: flex-start;
      margin-left: 8rem;
      font-size: 2.3rem;
    }

    &:hover,
    &--active {
      background-image: url('../../../public/assets/wave.svg');
      background-position: 0 1.2em;
      background-size: 4rem 10px;
      align-self: center;
      z-index: 999;
      color: $tertiary;

      @media only screen and (min-width: 320px) and (max-width: 480px) {
        align-self: center;
      }

      @media only screen and (min-width: 481px) and (max-width: 820px) {
        align-self: center;
      }

      @media only screen and (min-width: 821px) and (max-width: 1024px) {
        align-self: flex-start;
      }

      @media only screen and (min-width: 1025px) and (max-width: 1224px) {
        align-self: flex-start;
      }

      @media only screen and (min-width: 1225px) {
        align-self: flex-start;
      }
    }
  }
}