.sound {
  display: none;
  z-index: 40;

  @media only screen and (min-width: $breakpoint-largest) {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    position: absolute;
  }

  &__soundcheck {
    display: flex;
    align-items: center;

    &__box {
      background-color: rgba(255, 255, 255, 0.3);
      height: 1rem;
      width: 1rem;
      border: solid 1px $secondary;

      &--active {
        background-color: $secondary;
        border: solid 1px $secondary;
        height: 1rem;
        width: 1rem;
      }
    }

    &__title {
      margin-left: 0.5rem;
      margin-right: 3rem;
      font-family: 'Made-Bold';
      color: $secondary;
    }
  }
}
