@font-face {
  font-family: 'Made-Medium';
  src: url('./assets/font/MADEOuterSansMedium.otf');
}

@font-face {
  font-family: 'Made-Bold';
  src: url('./assets/font/MADEOuterSansBold.otf');
}

@font-face {
  font-family: 'Made-Light';
  src: url('./assets/font/MADEOuterSansLight.otf');
}

@font-face {
  font-family: 'Made-Thin';
  src: url('./assets/font/MADEOuterSansThin.otf');
}

@font-face {
  font-family: 'Made-Outline-Bold';
  src: url('./assets/font/MADE\ Outer\ Sans\ Outline\ Bold.otf');
}
