$primary: #e66b1c;
$secondary: #ffffff;
$tertiary: #e66b1c;
$quartery: #272727;

$breakpoint-huge: 1824px;
$breakpoint-extralarge: 1224px;
$breakpoint-largest: 1024px;
$breakpoint-medium: 768px;
$breakpoint-small: 480px;
$breakpoint-smallest: 320px;
