.homeContent {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  @media only screen and (min-width: $breakpoint-medium) and (max-width: $breakpoint-largest) {
    align-items: center;
    justify-content: flex-start;
    margin-top: 3rem;
    margin-bottom: 2rem;
    height: auto;
  }
  @media only screen and (min-width: $breakpoint-smallest) and (max-width: $breakpoint-medium) {
    align-items: center;
    justify-content: flex-start;
    height: 40%;
    margin: 2rem 0;
  }
  &__iconCS {
    color: $secondary;
    height: 9rem;
    width: 9rem;
    @media only screen and (min-width: $breakpoint-medium) and (max-width: $breakpoint-largest) {
      height: 11rem;
      width: 11rem;
      max-height: 110px;
    }
    @media only screen and (min-width: $breakpoint-largest) {
      display: none;
    }
  }
  &__subTitle {
    width: 40%;
    font-family: Made-Bold;
    font-size: 2rem;
    color: $secondary;

    @media only screen and (min-width: $breakpoint-huge) {
      font-size: 2.7rem;
      width: 39%;
    }
    @media only screen and (min-width: 1440px) and (max-width: $breakpoint-huge) {
      font-size: 2.5rem;
      width: 42%;
    }
    @media only screen and (min-width: 1325px) and (max-width: 1440px) {
      width: 42%;
      font-size: 2.2rem;
    }
    @media only screen and (min-width: 1290px) and (max-width: 1325px) {
      width: 42%;
    }
    @media only screen and (min-width: 1140px) and (max-width: 1290px) {
      width: 43%;
    }
    @media only screen and (min-width: $breakpoint-largest) and (max-width: 1140px) {
      width: 44%;
    }
    @media only screen and (min-width: $breakpoint-medium) and (max-width: $breakpoint-largest) {
      text-align: center;
      font-size: 1.5rem;
      margin-top: 1.5rem;
    }
    @media only screen and (min-width: $breakpoint-smallest) and (max-width: $breakpoint-medium) {
      text-align: center;
      font-size: 1.5rem;
      margin-top: 1rem;
      width: 70%;
    }
  }
  &__title {
    width: 40%;
    font-family: Made-Bold;
    font-size: 4rem;
    color: $tertiary;
    line-height: 4rem;

    @media only screen and (min-width: $breakpoint-smallest) and (max-width: $breakpoint-medium) {
      width: 70%;
      font-size: 3rem;
      line-height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    @media only screen and (min-width: $breakpoint-huge) {
      font-size: 4.9rem;
      width: 39%;
      color: $secondary;
    }
    @media only screen and (min-width: 1440px) and (max-width: $breakpoint-huge) {
      font-size: 4.5rem;
      width: 42%;
      color: $secondary;
    }
    @media only screen and (min-width: 1325px) and (max-width: 1440px) {
      font-size: 4.2rem;
      width: 42%;
      color: $secondary;
    }
    @media only screen and (min-width: 1290px) and (max-width: 1325px) {
      font-size: 4rem;
      width: 42%;
      color: $secondary;
    }
    @media only screen and (min-width: 1140px) and (max-width: 1290px) {
      width: 43%;
      color: $secondary;
      font-size: 3.9rem;
    }
    @media only screen and (min-width: $breakpoint-largest) and (max-width: 1140px) {
      width: 44%;
      font-size: 3.8rem;
      color: $secondary;
    }
    @media only screen and (min-width: $breakpoint-medium) and (max-width: $breakpoint-largest) {
      width: 100%;
      text-align: center;
      font-size: 3.5rem;
      line-height: 3.5rem;
      color: $tertiary;
    }
  }
}
