.homeContent {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  @media only screen and (min-width: $breakpoint-medium) and (max-width: $breakpoint-largest) {
    align-items: center;
    justify-content: flex-start;
    margin-top: 3rem;
    margin-bottom: 2rem;
    height: auto;
  }
  @media only screen and (max-width: $breakpoint-medium) {
    align-items: center;
    justify-content: flex-start;
    margin: 2rem 0;
    height: auto;
  }
  // ICON CLUB SANDWICH //
  &__iconCS {
    width: 5.5rem;
    height: 5.5rem;
    color: $secondary;
    margin-top: 2rem;
    @media only screen and (min-width: $breakpoint-smallest) and (max-width: $breakpoint-medium) {
      width: 30vw;
      height: 30vh;
      min-height: 100px;
      max-height: 120px;
      margin-top: 3rem;
    }
    @media only screen and (min-width: $breakpoint-medium) and (max-width: $breakpoint-largest) {
      width: 19vw;
      height: 19vh;
      min-height: 120px;
      max-height: 170px;
    }
    @media only screen and (min-width: $breakpoint-largest) {
      display: none;
    }
  }
  // SUBTITLE "WELCOME TO" //
  &__subTitle {
    display: flex;
    font-family: Made-Bold;
    font-size: 1.3rem;
    align-items: center;
    justify-content: center;
    color: $secondary;
    padding-top: 1rem;
    @media only screen and (min-width: $breakpoint-huge) {
      font-size: 2.7rem;
      width: 39%;
      justify-content: flex-start;
    }
    @media only screen and (min-width: 1440px) and (max-width: $breakpoint-huge) {
      font-size: 2.5rem;
      justify-content: flex-start;
      width: 42%;
    }
    @media only screen and (min-width: 1325px) and (max-width: 1440px) {
      width: 42%;
      font-size: 2.2rem;
      justify-content: flex-start;
    }
    @media only screen and (min-width: 1290px) and (max-width: 1325px) {
      width: 42%;
      font-size: 2.1rem;
      justify-content: flex-start;
    }
    @media only screen and (min-width: 1140px) and (max-width: 1290px) {
      width: 43%;
      font-size: 2rem;
      justify-content: flex-start;
    }
    @media only screen and (min-width: $breakpoint-largest) and (max-width: 1140px) {
      width: 44%;
      font-size: 1.9rem;
      justify-content: flex-start;
    }
    @media only screen and (min-width: $breakpoint-medium) and (max-width: $breakpoint-largest) {
      text-align: center;
      font-size: 1.8rem;
      margin-top: 3rem;
    }
    @media only screen and (min-width: $breakpoint-smallest) and (max-width: $breakpoint-medium) {
      text-align: center;
      font-size: 3vh;
      margin-top: 1rem;
      width: 70%;
    }
  }
  // TITLE "CLUB SANDWICH" ON DESKTOP (768PX ++) //
  &__title {
    width: 40%;
    font-family: Made-Bold;
    font-size: 4rem;
    color: $tertiary;
    line-height: 4rem;
    @media only screen and (max-width: $breakpoint-medium) {
      display: none;
    }
    @media only screen and (min-width: $breakpoint-huge) {
      font-size: 4.9rem;
      width: 39%;
      color: $secondary;
    }
    @media only screen and (min-width: 1440px) and (max-width: $breakpoint-huge) {
      font-size: 4.5rem;
      width: 42%;
      color: $secondary;
    }
    @media only screen and (min-width: 1325px) and (max-width: 1440px) {
      font-size: 4.2rem;
      width: 42%;
      color: $secondary;
    }
    @media only screen and (min-width: 1290px) and (max-width: 1325px) {
      font-size: 4rem;
      width: 42%;
      color: $secondary;
    }
    @media only screen and (min-width: 1140px) and (max-width: 1290px) {
      width: 43%;
      color: $secondary;
      font-size: 3.9rem;
    }
    @media only screen and (min-width: $breakpoint-largest) and (max-width: 1140px) {
      width: 43%;
      font-size: 3.8rem;
      color: $secondary;
    }
    @media only screen and (min-width: $breakpoint-medium) and (max-width: $breakpoint-largest) {
      width: 44%;
      font-size: 3.8rem;
      color: $tertiary;
      text-align: center;
    }
  }
  // TITLE "THE CLUB" ON MOBILE/TABLET (--768px) //
  &__title__mobile {
    width: 70%;
    font-family: 'Made-Bold';
    display: flex;
    justify-content: center;
    color: $tertiary;
    @media only screen and (max-width: $breakpoint-small) {
      font-size: 4vh;
      line-height: 3rem;
    }
    @media only screen and (min-width: $breakpoint-small) and (max-width: $breakpoint-medium) {
      font-size: 5vh;
      line-height: 3rem;
    }
    @media only screen and (min-width: $breakpoint-medium) and (max-width: $breakpoint-largest) {
      font-size: 7vh;
      line-height: 5rem;
    }
    @media only screen and (min-width: $breakpoint-medium) {
      display: none;
    }
  }
  // DESCRIPTION CONTAINER //
  &__description {
    display: none;
    @media only screen and (min-width: $breakpoint-medium) and (max-width: $breakpoint-largest) {
      display: flex;
      text-align: center;
      width: 70%;
    }
    @media only screen and (min-width: $breakpoint-largest) and (max-width: $breakpoint-huge) {
      display: flex;
      transform: translateY(5.5rem);
      margin: 1rem 2rem;
    }
    @media only screen and (min-width: $breakpoint-huge) {
      display: flex;
      transform: translateY(7rem);
      margin: 1rem 2rem;
    }
    // DESCRIPTION CLUB TEXT //
    &__club {
      font-family: 'Made-Medium';
      color: $secondary;
      display: flex;
      font-size: 2vh;
    }
    @media only screen and (min-width: $breakpoint-medium) and (max-width: $breakpoint-largest) {
      margin: 3.5rem 0;
      font-size: 2vh;
    }
    @media only screen and (min-width: $breakpoint-largest) {
      text-align: start;
      justify-content: flex-end;
      font-size: 0.9rem;
      width: 45%;
    }
  }
}
