.dealersSection {
  height: 100vh;
  width: 100vw;
  z-index: 10;

  @media only screen and (min-width: 320px) and (max-width: 479px) {
    font-size: 10px;
    &__supplier {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      &__image1 {
        height: 100%;
        background-size: cover;
        position: relative;
      }
      &__infos {
        font-family: 'Made-Medium';
        color: $secondary;
        position: absolute;
        font-size: 3rem;
        text-align: center;
        z-index: 10;
        width: 100%;
      }
    }

    &__text {
      z-index: 21;
      visibility: hidden;
      &__subTitle {
        visibility: hidden;
      }

      &__title {
        visibility: hidden;
      }
    }
  }

  @media only screen and (min-width: 480px) and (max-width: 767px) {
    font-size: 12px;
    &__supplier {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      &__image1 {
        height: 100%;
        background-size: cover;
        position: relative;
      }
      &__infos {
        font-family: 'Made-Medium';
        color: $secondary;
        position: absolute;
        font-size: 3rem;
        text-align: center;
        z-index: 10;
        width: 100%;
      }
    }

    &__text {
      z-index: 21;
      visibility: hidden;
      &__subTitle {
        visibility: hidden;
      }

      &__title {
        visibility: hidden;
      }
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    font-size: 14px;

    &__supplier {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      &__image1 {
        height: 100%;
        background-size: cover;
        position: relative;
      }
      &__infos {
        font-family: 'Made-Medium';
        color: $secondary;
        position: absolute;
        font-size: 3rem;
        text-align: center;
        z-index: 10;
        width: 100%;
      }
    }

    &__text {
      z-index: 21;
      visibility: hidden;
      &__subTitle {
        visibility: hidden;
      }

      &__title {
        visibility: hidden;
      }
    }
  }

  @media only screen and (min-width: 1024px) and (max-width: 1223px) {
    font-size: 16px;
    position: relative;
    left: 33%;
    margin-top: 3rem;

    &__text {
      top: 5%;
      right: 3%;
      position: relative;
      z-index: 21;

      &__sectionTitle {
        visibility: hidden;
      }

      &__outLine {
        visibility: hidden;
      }

      &__subTitle {
        font-family: 'Made-Medium';
        color: $secondary;
        position: absolute;
        font-size: 2.5rem;
      }

      &__title {
        font-family: 'Made-Bold';
        color: $secondary;
        font-size: 6rem;
        position: absolute;
        margin-top: 1.5rem;
      }
    }

    &__supplier {
      top: 10%;
      right: 23%;
      width: 100vw;
      position: relative;
      z-index: 10;

      &__image1 {
        height: 60%;
        width: 60%;
        left: 20%;
        position: relative;
        transition: all 0.3s ease;

        &:hover {
          filter: grayscale(60%);
        }

        &:hover + .dealersSection__supplier__infos {
          visibility: visible;
        }
      }

      &__infos {
        visibility: hidden;
        position: absolute;
        z-index: 22;
        left: 20.1%;
        bottom: 3%;
        pointer-events: none;

        &__name {
          font-family: 'Made-Medium';
          color: $secondary;
          font-size: 2.5rem;
        }

        &__location {
          font-family: 'Made-Medium';
          color: $secondary;
          font-size: 1.5rem;
        }
        &:hover {
          visibility: visible;
        }
        &:hover + .dealersSection__supplier__image1 {
          filter: grayscale(60%);
        }
      }
    }
  }

  @media only screen and (min-width: 1224px) {
    font-size: 18px;
    position: relative;
    left: 35%;

    &__text {
      top: 5%;
      right: 3%;
      position: relative;
      z-index: 25;

      &__sectionTitle {
        visibility: hidden;
      }

      &__outLine {
        visibility: hidden;
      }

      &__subTitle {
        font-family: 'Made-Medium';
        color: $secondary;
        position: absolute;
        font-size: 2.5rem;
      }

      &__title {
        font-family: 'Made-Bold';
        color: $secondary;
        font-size: 6rem;
        position: absolute;
        margin-top: 1.5rem;
      }
    }

    &__supplier {
      top: 10%;
      right: 23%;
      width: 100vw;
      position: relative;
      z-index: 10;

      &__image1 {
        height: 60%;
        width: 60%;
        left: 20%;
        position: relative;
        transition: all 0.3s ease;

        &:hover {
          filter: grayscale(60%);
        }

        &:hover + .dealersSection__supplier__infos {
          visibility: visible;
        }
      }

      &__infos {
        visibility: hidden;
        position: absolute;
        z-index: 27;
        left: 20.1%;
        bottom: 3%;
        pointer-events: none;

        &__name {
          font-family: 'Made-Medium';
          color: $secondary;
          font-size: 2.5rem;
        }

        &__location {
          font-family: 'Made-Medium';
          color: $secondary;
          font-size: 1.5rem;
        }

        &:hover {
          visibility: visible;
        }
        &:hover + .dealersSection__supplier__image1 {
          filter: grayscale(60%);
        }
      }
    }
  }
}
