.clubSection {
  height: 100vh;
  width: 100%;
  position: relative;

  @media only screen and (min-width: 320px) and (max-width: 479px) {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &__image1 {
      height: 100%;
      background-size: cover;
      position: absolute;
    }

    &__text {
      &__subTitle {
        font-family: 'Made-Medium';
        color: $secondary;
        position: relative;
        font-size: 3.5rem;
        text-align: center;
        z-index: 10;
        width: 100%;
      }

      &__title {
        font-family: 'Made-Bold';
        color: $secondary;
        font-size: 4.5rem;
        position: relative;
        text-align: center;
        z-index: 10;
        width: 100%;
      }
    }
  }

  @media only screen and (min-width: 480px) and (max-width: 767px) {
    font-size: 12px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &__image1 {
      height: 100%;
      background-size: cover;
      position: absolute;
    }

    &__text {
      &__subTitle {
        font-family: 'Made-Medium';
        color: $secondary;
        position: relative;
        font-size: 4rem;
        text-align: center;
        z-index: 10;
        width: 100%;
      }

      &__title {
        font-family: 'Made-Bold';
        color: $secondary;
        font-size: 6rem;
        position: relative;
        text-align: center;
        z-index: 10;
        width: 100%;
      }
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    font-size: 14px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &__image1 {
      height: 100%;
      background-size: cover;
      position: absolute;
    }

    &__text {
      &__subTitle {
        font-family: 'Made-Medium';
        color: $secondary;
        position: relative;
        font-size: 4rem;
        text-align: center;
        z-index: 10;
        width: 100%;
      }

      &__title {
        font-family: 'Made-Bold';
        color: $secondary;
        font-size: 6rem;
        position: relative;
        text-align: center;
        z-index: 10;
        width: 100%;
      }
    }
  }

  @media only screen and (min-width: 1024px) and (max-width: 1224px) {
    height: 100vh;
    position: relative;
    left: 4%;

    &__image1 {
      height: 55%;
      top: 15%;
      right: 10%;
      position: relative;
      left: 30%;
    }

    &__text {
      top: 55%;
      width: 100%;
      left: 25%;
      position: relative;
      z-index: 10;

      &__subTitle {
        font-family: 'Made-Medium';
        color: $secondary;
        position: absolute;
        font-size: 4rem;
      }

      &__title {
        font-family: 'Made-Bold';
        color: $secondary;
        font-size: 6rem;
        position: absolute;
        margin-top: 3rem;
      }
    }
  }

  @media only screen and (min-width: 1224px) and (max-width: 1824px) {
    font-size: 18px;
    height: 100vh;
    position: relative;
    left: 35%;

    &__image1 {
      height: 70%;
      top: 7%;
      position: relative;
    }

    &__text {
      top: 66%;
      right: 3%;
      width: 100%;
      position: absolute;
      z-index: 10;

      &__subTitle {
        font-family: 'Made-Medium';
        color: $secondary;
        position: absolute;
        font-size: 4rem;
      }

      &__title {
        font-family: 'Made-Bold';
        color: $secondary;
        font-size: 6rem;
        position: absolute;
        margin-top: 3rem;
      }
    }
  }
}
